/* CSS Variables for theming */
body {
  --bg-color: #0B0829;
  --text-color: #ffffff;
  --accent-color: #ff5722;
  --hover-color: #ff5722;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --accent-color: #880e4f;
  --hover-color: #880e4f;
}

body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #b0b0b0;
  --hover-color: #b0b0b0;
}

.contact
{
    /* border: 1px solid white; */
    padding: 15px;
    margin: 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    color: var(--text-color);
    /* height:fit-content;
    box-sizing: content-box;
    min-width: fit-content; */
    /* width: 400px; */

    

}

.fields
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    gap: 10px;

}

.contact input, .contact textarea
{
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 5px;
    resize: vertical;
    color: var(--text-color);
}

.contact button
{
    background-color: var(--accent-color);
    color: var(--text-color);
    border: 1px solid lightgrey;
    padding: 10px 20px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    
}
.contact h2
{
    padding-right: 2px;
    padding-top: 1px;;
}