/* CSS Variables for theming */
body {
  --bg-color: #0B0829;
  --text-color: #ffffff;
  --accent-color: #ff5722;
  --hover-color: #ff5722;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --accent-color: #880e4f;
  --hover-color: #880e4f;
}

body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #b0b0b0;
  --hover-color: #b0b0b0;
}

.footer
{
    /* position: fixed; */
    bottom: 0;
    left: 10px;
    width: 100%;
    height: auto;
    margin: 5px 0px 5px 0px;
    border-top: 1px solid var(--text-color);
    
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    gap: 20px;   
   
}
.quicklinks
{
    margin: 10px;
    font-size: 14px;
    padding-right: 20px;
    color: var(--text-color);

    display: flex;
    flex-direction:row;
 
    justify-content:space-evenly;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
}
.quicklinks a
{
    color: var(--text-color);
    text-decoration: none;    
}
.quicklinks a:hover
{
    color: var(--accent-color);
}

.footer-text
{
    color: var(--text-color);
    text-align: right;
    margin-top: 5px;
    font-size: 14px;
    
    /* position: fixed; */
    bottom: 0;
    left: 10px;
    width: 100%;
}

.social-icons
{
    display: flex;
    flex-direction: flex-end;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    font-size: 15px;
    color: white;
}