 *
{    margin: 0;
    padding: 0;
    background-color: #0B0829;
    
}
header
{
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px #0000001a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

.icon-circle
{
    display:flex;
    justify-content: flex-start;
    margin-left: 10px;
    color: #ffffff
}
.sections
{
    display:flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 20px;
    align-items: center;
}
.sections a
{
    text-decoration: none;
    padding: 16px 0px;
    box-sizing: content-box;
    border-bottom: 2px solid  #0B0829;
    color: #ffffff
}
.sections a:hover
{
    border-bottom: 2px solid rgb(172, 1, 78);
    color: rgb(172, 1, 78);
}