
.mid-page 
{
    background: linear-gradient(135deg, #34495E, #2C3E50, #5D6D7E);
    color: white;
    min-height:75vh;
    overflow-y: auto;
    box-sizing: border-box;

    margin-top: 100px;     
    margin-bottom: 72px;  
    height: calc(100vh - 100px - 72px);
   
}

.info 
{
    display: flex;               
    align-items: center;         
    justify-content: space-between; 
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px;
    gap: 20px; 
}

.profile-pic 
{
    width: 150px;
    height: 150px;
    border-radius: 60%;
    object-fit: cover;
    margin-left: 20px;   
    display: flex;      
}



