/* Projects styles */

.section-title {
    color: var(--text-color);
    font-size: 22px;
    margin-left: 25px;
}


.projects-section {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;              
    gap: 20px;
    overflow-x: auto;               
    overflow-y: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


.projects-section::-webkit-scrollbar {
    height: 8px;
}

.projects-section::-webkit-scrollbar-track {
    background: transparent;
}

.projects-section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.projects-section::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}


.project-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    color: var(--text-color);
    min-width: 260px;               
    max-width: 260px;
    height: 610px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image styling */
.project-card img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

/* Description text */
.project-card p {
    margin: 10px 0;
    font-size: 12px;
    line-height: 1.4;
}


.project-card h2 {
    width: 100%;
    text-align: center;
}


.project-card .button {
    background-color: var(--accent-color);
    color: var(--text-color);
    border: 1px solid var(--accent-color);
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}

.project-card .techstack-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
