/* Timeline styles */

.timeline 
{
  position: relative;
  padding-left: 30px;
  /* border-left: 2px solid rgb(160, 157, 159); */
}

.timeline-item 
{
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot 
{
  position: absolute;
  left: -30px;
  top: 5px;
  width: 14px;
  height: 14px;
  background-color: #888;
  border-radius: 50%;
}

.timeline-content 
{
  margin-left: 5px;
}

.timeline-content h4 
{
  margin: 0;
  font-weight: bold;
  color: var(--text-color);
}

.timeline-content .company 
{
  font-style: italic;
  color: var(--secondary-text);
}

.timeline-content .date 
{
  font-size: 0.9em;
  color: var(--secondary-text);
}

.timeline-content .description
{
  margin: 0 0 0 15px;
  color: var(--text-color);
}